@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    /* border: solid black 1px; */
}

body {
    background-color: #f0eef1;
}

.container {
    display: grid;
    grid-template-rows: 100px 50px 1fr 50px;
    font-size: 21px;
    gap: 10px;
    
}

.header {
    display: flex;
    align-items: center;
    font-size: 40px;
    padding: 0 50px;
    font-weight: 500;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
    background-color: white;
}

#add-card-button {
    max-width: 250px;
    font-size: 28px;
    font-weight: 200;
    justify-self: center;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 8px;
}

#add-card-button:hover {
    background-color: rgb(177, 175, 175);
}

.card {
    display: grid;
    grid-template-rows: 3fr 1fr;
    min-height: 100px;
    min-width: 300px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 6px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0, 0.1);
}

.card-body {
    display: grid;
    grid-template-rows: reoeat(4, 1fr);
    gap: 10px;
    padding: 15px;
}

.card-body > h4 {
    font-weight: 500;
}

.card-body > h5 {
    font-weight: 400;
}

.card-body > p {
    font-size: 15px;;
}

.read,
.delete {
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    min-height: 1rem;
    min-width: 1rem;
    border-radius: 3px;
}

.read {
    background-color: green;
    color: white;
    border: 1px solid green;
}

.read:hover {
    background-color: rgb(2, 111, 2);
}

.delete {
    border: red 1px solid;
    color: red;
}

.delete:hover {
    color: white;
    background-color: red;
}

.card-footer {
    font-size: 16px;
    display: flex;
    align-items: center;
    background-color: #dcdbdc;
    width: 100%;
    padding: 15px;
}

#main {
    
}

dialog {
    justify-self: center;
    margin-top: 25px;
    padding: 20px;
    border: 2px;
    border-radius: 8px;
    box-shadow: 0 0 0.1 black;
    min-width: 500px;
}

.dialog-header, 
.dialog-footer {
    margin: 10px 0;
    min-height: 50px;
}

#cancel-button, 
#save-button {
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;


}

#save-button {
    background-color: #465fff;
}

#save-button:hover {
    background-color: #4242fe;
}

#cancel-button {
    background-color: rgb(95, 94, 94);
}

#cancel-button:hover {
    background-color: rgb(78, 78, 78);
}


.dialog-header {
    font-size: 25px;
    font-weight: 400;
}

.dialog-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#book-form {
    display: grid;
    grid-template-rows: repeat(2, 50px) 1fr 50;
    gap: 15px;
}

.group {
    display: grid;
    grid-template-rows: 25px 25px;
}

.group > input {
    font-size: 15px;
    min-height: 30px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid rgb(161, 161, 161);
}

