@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div {
    /* border: solid black 1px; */
}

.header {
    box-shadow: 0 0 0.75;
}

.container {
    display: grid;
    grid-template-rows: 150px 50px 1fr 150px;
    padding: 25px;
    font-size: 21px;
    gap: 10px;
    
}

.card {
    min-height: 100px;

}

dialog {
    justify-self: center;
    margin-top: 25px;
    padding: 20px;
    border: 2px;
    border-radius: 8px;
    box-shadow: 0 0 0.1 black;
    min-width: 500px;
}

.dialog-header, 
.dialog-footer {
    margin: 10px 0;
    min-height: 50px;
}

#cancel-button, 
#save-button {
    padding: 10px 12px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;


}

#save-button {
    background-color: #465fff;
}

#save-button:hover {
    background-color: #4242fe;
}

#cancel-button {
    background-color: rgb(95, 94, 94);
}

#cancel-button:hover {
    background-color: rgb(78, 78, 78);
}


.dialog-header {
    font-size: 25px;
    font-weight: 400;
}

.dialog-footer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#book-form {
    display: grid;
    grid-template-rows: repeat(2, 50px) 1fr 50;
    gap: 15px;
}

.group {
    display: grid;
    grid-template-rows: 25px 25px;
}

.group > input {
    font-size: 15px;
    min-height: 30px;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid rgb(161, 161, 161)
}

